In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("diabetes.csv")

In [ ]:
#Check if null values are present
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [ ]:
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [ ]:
#Standardisation of the dataset
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
sc.fit(df.drop('Outcome', axis = 1))
scaler_features = sc.transform(df.drop('Outcome', axis = 1))
df_feat = pd.DataFrame(scaler_features, columns = df.columns[:-1])
df_feat['Outcome'] = df['Outcome'].astype(int)
df = df_feat.copy()

In [ ]:
df.head()

   Pregnancies   Glucose  ...       Age  Outcome
0     0.639947  0.848324  ...  1.425995        1
1    -0.844885 -1.123396  ... -0.190672        0
2     1.233880  1.943724  ... -0.105584        1
3    -0.844885 -0.998208  ... -1.041549        0
4    -1.141852  0.504055  ... -0.020496        1

[5 rows x 9 columns]

In [ ]:
x = df.iloc[:,0:8].values
y = df.iloc[:,8].values

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2, random_state = 0)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [ ]:
#Finding appropiate value of n
tt = {}
il = []
ac=[]
for  i in range(1,100):
  knn = KNeighborsClassifier(n_neighbors=i)
  knn.fit(x_train,y_train)
  y_pred = knn.predict(x_test)
  il.append(i)
  ac.append(accuracy_score(y_test,y_pred) )
  tt.update({'K':il})
  tt.update({'Accuracy':ac})
vv = pd.DataFrame(tt)
vv.sort_values('Accuracy',ascending=False,inplace=True,ignore_index=True)
vv.head(10)

    K  Accuracy
0  16  0.818182
1  18  0.811688
2  15  0.811688
3  17  0.811688
4  63  0.811688
5  73  0.805195
6  20  0.805195
7  71  0.805195
8  31  0.805195
9  59  0.805195

In [ ]:
Knn = KNeighborsClassifier(n_neighbors=16, metric="euclidean")

In [ ]:
Knn.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='euclidean',
                     metric_params=None, n_jobs=None, n_neighbors=16, p=2,
                     weights='uniform')

In [ ]:
y_pred = Knn.predict(x_test)

In [ ]:
y_pred

array([1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [ ]:
y_test

array([1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0])

In [ ]:
confusion_matrix(y_test, y_pred)

array([[98,  9],
       [19, 28]])

In [ ]:
accuracy_score(y_test, y_pred)

0.8181818181818182